.login_bg {
    background: url('../img/login_bg.png') center/cover no-repeat;
    height: 100%;
}



/* Scrollbar Track */
::-webkit-scrollbar {
    width: 5px;
}

/* Scrollbar Thumb (the moving part) */
::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
}

/* Scrollbar Thumb on Hover */
::-webkit-scrollbar-thumb:hover {
    background: gray;
}

/* Scrollbar Track Background */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}